@import '@/assets/scss/_color.scss';

div{

    :is(a){
        color: $spotlightColor;
        text-decoration: none;
    }

    h2{
        font-size: 40px;
        text-align: center;
        color: $fontColor;
        font-family: 'Montserrat','Raleway Light',Arial;
        @media only screen and (max-width: 992px){
            font-size: 30px;
        }
        
    }
    .div__itens{
        display: flex;
        justify-content: space-between;
        font-family: 'Raleway Light', 'Montserrat', Arial;
        color: $fontColor;
        font-size: 28px;
        @media only screen and (max-width: 992px){
            flex-direction: column;
            font-size: 18px;
        }

        i{
            color: $subColor !important;
            font-size: 30px;
        }
    }
}